.welcome{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255,255,255);
    text-align: center;
    font-size: 54px;
}

.navbar-expand-lg .dropdown-menu {
    position: absolute;
    left: -60px;
}

.mainHeader{
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.registration{
    font-size: 28px;
}